@font-face {
  font-family: 'Animal Insting Regular';
  font-style: normal;
  src: local('Animal Insting Regular'), url('Animal Insting.woff') format('woff');
}

h1 {
  font-family: 'Animal Insting Regular';
  font-weight: 100;
  color: rgb(195, 195, 0);
}